
{% extends 'myweb/base.html' %}
{% load static from staticfiles %}      <!--  引入静态文件的必须要加的  -->




{% block indexbody %}
	<!-- 登录注册行结束 -->
	<br>
	<!-- 导航页 -->
	<!-- 导航页结束 -->
	<br>

	<!-- 轮播图 -->
	<div class="row">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators ">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner lunbo" role="listbox" >
				    <div class="item active lunboa">
				      <img class="height:10%" src="{% static 'myweb/shucai/img/111.jpg' %}" alt style="width:100%;height: 50%; ">
				     
				    </div>
				    <div class="item">
				      <img class="height:10%"  src="{% static 'myweb/shucai/img/222.jpg' %}" alt style="width:100%;height: 50%; ">
				     
				    </div>
				    <div class="item">
				      <img class="height:10%"  src="{% static 'myweb/shucai/img/333.jpg' %}" alt style="width:100%;height: 50%; ">
				      
				    </div>
				    <div class="item">
				      <img class="height:10%"  src="{% static 'myweb/shucai/img/4.jpg' %}" alt style="width:100%;height: 50%; ">
				      
				    </div>
				  
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
		</div>
	</div>
	<br>
	<!-- 轮播图结束 -->
	<!-- 组建组建 -->
	<div class="row goods-list">
		<div class="col-xs-12 col-md-4" style="margin:0; padding:0; padding-right:4px; border:0;" >
			<a href="#" class="rounded" >
			  <img src="{% static 'myweb/shucai/img/a1.jpg' %}" class="img-responsive" alt="...">
			</a>
		</div>
		<div class="col-xs-12 col-md-4" style="margin:0;padding:0px; padding-right:4px; border:0;" >
			<a href="#" class="rounded" style="">
			  <img src="{% static 'myweb/shucai/img/a2.jpg' %}"  class="img-responsive" alt="...">
			</a>
		</div>
		<div class="col-xs-12 col-md-4" style="margin:0;padding:0; border:0;" >
			<a href="#" class="rounded" >
			  <img src="{% static 'myweb/shucai/img/a3.jpg' %}"  class="img-responsive" alt="...">
			</a>
		</div>
	</div>

<!-- 测试的部分 -->
	{% for o in b %}
	{% for ob in o %}
	<form  method="post">
	{% csrf_token %}
		<div class="col-sm-6 col-md-3 shangpin baopintu">
				    <div class="thumbnail ">
				    	<div class="baopintu"><img src="{% static 'myweb/shucai/img/baopintu.png' %}"></div>

				        <a href="{% url 'detail' ob.id %}"><img src="/static/goods/{{ ob.picname }}" alt="..." ></a>
				      	<div class="caption">
				        <h5>{{ob.goods}}</h5>
				        <p>{{ob.price}}</p>
				        <p>{{ob.descr}}</p>
				        <p>
				        	<a href="{% url 'detail'  ob.id %}" class="btn btn-primary" role="button">购买</a> 
				        	<!-- <a href="#" class="btn btn-default" role="button">加入购物车</a> -->
				        	<button class='dianji btn btn-default'>加入购物车</button>
				        </p>
				      </div>
				    </div>
		</div>
		</form>
		{% endfor %}
		
		{% endfor %}


	<!-- 底部 -->
	<div class="row">
		<footer class="footer ">
			    <div class="container">
			      <div class="row footer-top">
			        <div class="col-sm-6  col-lg-5 ">
			          <div class="row about" >
			            <div class="col-xs-3">
			              <h4>推荐机型</h4>
			              <ul class="list-unstyled" >
			                <li><a href="/about/" style="color:#000">R11</a></li>
			                <li><a href="/ad/" style="color:#000">R11Plus</a></li>
			                <li><a href="/links/" style="color:#000">A57</a></li>
			                <li><a href="/hr/" style="color:#000">A59s</a></li>
			              </ul>
			            </div>
			            <div class="col-xs-3">
			              <h4>服务</h4>
			              <ul class="list-unstyled">
			                <li><a href="http://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank" style="color:#000">服务网点查询</a></li>
			                <li><a href="mailto:admin@bootcss.com" style="color:#000">零配件价格查询</a></li>
			                <li><a href="mailto:admin@bootcss.com" style="color:#000">官方授权网店</a></li>
			              </ul>
			            </div>
			            <div class="col-xs-3">
			              <h4>关于我们</h4>
			              <ul class="list-unstyled">
			                <li><a href="http://www.golaravel.com/" target="_blank" style="color:#000">关于OPPO</a></li>
			                <li><a href="http://www.ghostchina.com/" target="_blank" style="color:#000">加入我们</a></li>
			              </ul>
			            </div>
			            <div class="col-xs-3">
			              <h4>商务合作</h4>
			              <ul class="list-unstyled">
			                <li><a href="https://www.upyun.com" target="_blank" style="color:#000">开放平台</a></li>
			                <li><a href="https://www.upyun.com" target="_blank" style="color:#000">采购相关</a></li>
			              </ul>
			            </div>
			          </div>
			  
			        </div>
			        <div class="col-sm-6 col-lg-4 col-lg-offset-2 ">
			          <h4>
			            <!-- <img src="/shucai/img/icon-online.png?1503034592571"> -->
			            <img src="{% static 'myweb/shucai/img/icon-online.png' %}?1503034592571">
			          </h4>
			          	<h2><p>4001-666-888</p></h2>
			        </div>
			      </div>
			      <hr>
			      <div class="row footer-bottom col-sm-6 col-lg-6 ">
			        <ul class="list-inline text-center">
			          <li><a href="http://www.miibeian.gov.cn/" target="_blank"></a></li><li>© 2005 - 2017 OPPO 版权所有 粤ICP备08130115号-1 联系方式：4001-666-888</li>
			        </ul>
			      </div>
			     	<div class="row col-sm-6 col-lg-4 col-lg-offset-2 " >
			      	<li>
			      		<a href=""></a><span>关注我们:</span>
			      		<img src="{% static 'myweb/shucai/img/wx1.png' %}">
			      	</li>
			      </div> 
			    </div>
			    
		</footer>
	</div>

<script type="text/javascript" src="{% static 'myweb/shucai/img/jquery-1.8.3.min.js' %}"></script>

<script type="text/javascript">
	$('.produte').mouseover(function(){
		$('produte').addClass('shows').siblings.removeClass('shows');
	})
</script>
{% endblock %}
